body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yellowtail, sans-serif;
}







/*   BACKGROUND COLORS   */

.green {
    background-color: yellowgreen;
}

.blue {
    background-color: cornflowerblue;
}

.brown {
    background-color: rgb(136, 124, 101);
}







/*   NAVBAR   */

.meadow {
    padding-bottom: 100px;
    background: linear-gradient(#777,yellowgreen);
}

.woods {
    padding-bottom: 100px;
    background: linear-gradient(#777,rgb(136, 124, 101));
}

.sky {
    padding-bottom: 100px;
    background: linear-gradient(#777,cornflowerblue);
}






/*   IMAGES AND ALERTS   */

.main {
    height: 600px;
    margin-top: -50px;
}

img {
    height: 400px;
    width: 620px;
    object-fit: cover;
}


.pop {
    width: 200px;
    border-radius: 15px;
    line-height: 2em;

}

#action {
    visibility: hidden;
}

#thought {
    visibility: hidden;
}









/*   ACTION LINKS   */

.buttonBank {
    margin-top: 10px;
}

a {
    font-family: MuseoModerno, sans-serif;
    margin: 10px;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    color: #fff;
}

button a {
    color: rgb(56, 55, 55);
}

a:hover {
    background-color: green;
    color: greenyellow;
}

a:focus {
    background-color: fuchsia;
    color: rgb(55, 15, 65);
}

a:active {
    background-color: indigo;
    color: rgb(228, 156, 247);
}

/*   MEDIA QUERIES   */

@media screen and (max-width: 767px) {

    .main {
        margin: 0px !important;
    }

    nav {
        margin: 0 auto;
    }


@media screen and (max-width: 500) {
    .nav li a {
        font-size: 8vw !important;
    }

    .nav li a:after {
        font-size: 8vw;
    }

    .nav li a:focus {
        font-size: 8vw;
    }

    .nav li a:hover {
        font-size: 8vw;
    }
}