body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yellowtail, sans-serif;
}







/*   BACKGROUND COLORS   */

.blue {
    background-color: cornflowerblue;
}

.green {
    background-color: yellowgreen;
}

.brown {
    background-color: rgb(136, 124, 101);
}







/*   NAVBAR   */

.navbar {
    margin-bottom: 30px;
}





/*   IMAGES AND ALERTS   */

.main {
    height: 600px;
}

img {
    height: 400px;
    width: 620px;
    object-fit: cover;
}


.pop {
    width: 200px;
    border-radius: 15px;
    line-height: 2em;

}

#action {
    visibility: visible;
}

#thought {
    visibility: visible;
}









/*   ACTION LINKS   */

.buttonBank {
    margin-top: -80px;
}

a {
    font-family: MuseoModerno, sans-serif;
    margin: 10px;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    color: rgb(43, 42, 42);
}

a:visited {
    color: rgb(75, 55, 17);
}

a:hover {
    background-color: green;
    color: greenyellow;
}

a:focus {
    background-color: fuchsia;
    color: gold;
    font-size: larger;
}

a:active {
    background-color: indigo;
    color: mediumorchid;
    font-size: larger;
}
